Repository BinaryStudioAcademy/thread-js: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:editorconfig && npm run lint:fs, npm run lint:client:js, npm run lint:client:css, npm run lint:server:js

.lintstagedrc.yml:

'*': npm run lint:editorconfig && npm run lint:fs
client/src/**/*.{js,jsx}: npm run lint:client:js
client/src/**/*.scss: npm run lint:client:css
server/**/*.js: npm run lint:server:js

thjs-52: * fix bug with duplicated posts
  client/src/pages/thread/thread.jsx
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:client:js

thjs-50: * change dangerfile extension to cjs
  .eslintrc.yml
  .github/workflows/ci-pr.yml
  dangerfile.cjs
Due: npm run lint:editorconfig && npm run lint:fs

thjs-50: * change ci-pr action workflow
  .github/workflows/ci-pr.yml
Due: npm run lint:editorconfig && npm run lint:fs

production: * fix click-through after adding node.js import aliases
  server/jsconfig.json
Due: npm run lint:editorconfig && npm run lint:fs

thjs-47: * fix bug with expanded post actions
  client/src/pages/thread/components/expanded-post/expanded-post.jsx
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:client:js

Revert "thjs-39: * update client packages"
  client/package.json
  client/src/libs/components/modal/styles.module.scss
  package-lock.json
  package.json
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:client:css

Revert "thjs-39: * update client packahes by npm upgrade"
  package-lock.json
Due: npm run lint:editorconfig && npm run lint:fs

thjs-39: * update client packages
  client/package.json
  package-lock.json
Due: npm run lint:editorconfig && npm run lint:fs

thjs-39: * update client packages by npm upgrade
  package-lock.json
Due: npm run lint:editorconfig && npm run lint:fs

thjs-48: + setup common test data
  server/tests/helpers/crud-handlers/crud-handlers.js
  server/tests/helpers/setup-test-data/setup-test-comments/libs/constants/constants.js
  server/tests/helpers/setup-test-data/setup-test-comments/setup-test-comments.helper.js
  server/tests/helpers/setup-test-data/setup-test-data.js
  server/tests/helpers/setup-test-data/setup-test-posts/libs/constants/constants.js
  server/tests/helpers/setup-test-data/setup-test-posts/setup-test-posts.helper.js
  server/tests/helpers/setup-test-data/setup-test-users/libs/constants/constants.js
  server/tests/helpers/setup-test-data/setup-test-users/setup-test-users.helper.js
  server/tests/libs/constants/constants.js
  server/tests/libs/constants/crud.constant.js
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:server:js

thjs-48: + clear database for each test case
  server/src/libs/packages/server-application/server-app.js
  server/src/libs/packages/server-application/server-application.js
  server/tests/helpers/app/app.helper.js
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:server:js

thjs-48: * backend e2e tests improvements
  server/tests/api/0-starter/auth.api.spec.js
  server/tests/api/0-starter/post.api.spec.js
  server/tests/api/1-dislike-post/post.api.spec.js
  server/tests/api/10-show-who-liked-comment/post-comment.api.spec.js
  server/tests/api/11-update-profile/user.api.spec.js
  server/tests/api/12-set-user-status/auth-user.api.spec.js
  server/tests/api/13-reset-set-password/password.api.spec.js
  server/tests/api/2-update-post/post.api.spec.js
  server/tests/api/3-delete-post/post.api.spec.js
  server/tests/api/4-update-comment/comment.api.spec.js
  server/tests/api/5-delete-comment/comment.api.spec.js
  server/tests/api/6-like-dislike-comment/comment.api.spec.js
  server/tests/api/7-show-hide-own-posts/post.api.spec.js
  server/tests/api/8-show-liked-by-own-posts/post.api.spec.js
  server/tests/api/9-show-who-liked-post/post.api.spec.js
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:server:js

development: * ci github workflow
  .github/workflows/ci.yml
Due: npm run lint:editorconfig && npm run lint:fs

thjs-55: + prettier script with applying to files
  client/src/libs/components/checkbox/checkbox.jsx
  client/src/libs/components/message/message.jsx
  client/src/libs/components/notifications/notifications.jsx
  client/src/libs/components/segment/segment.jsx
  client/src/libs/components/spinner/spinner.jsx
  client/src/libs/hooks/hooks.js
  client/src/packages/comment/libs/enums/enums.js
  client/src/packages/image/libs/enums/enums.js
  client/src/packages/post/libs/enums/enums.js
  client/src/packages/user/constants/user.constants.js
  client/src/pages/app/app.jsx
  client/src/pages/not-found/not-found.jsx
  client/src/pages/profile/profile.jsx
  client/src/pages/thread/components/add-post/add-post.jsx
  client/src/pages/thread/components/expanded-post/expanded-post.jsx
  client/src/pages/thread/components/expanded-post/libs/helpers/get-sorted-comments/get-sorted-comments.helper.js
  client/src/pages/thread/thread.jsx
  client/src/slices/profile/actions.js
  client/src/slices/profile/profile.js
  client/src/slices/profile/profile.slice.js
  client/src/slices/thread/common.js
  client/src/slices/thread/thread.slice.js
  package-lock.json
  package.json
  server/src/db/migrations/20211208202419_create_tables.js
  server/src/db/seed-data/posts-seed.js
  server/tests/helpers/http/http.js
  shared/src/libs/helpers/any/any.js
  shared/src/packages/user/user.js
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:client:js, npm run lint:server:js

thjs-55: * readme improvements
  readme.md
Due: npm run lint:editorconfig && npm run lint:fs

thjs-55: + prettier script to lint staged config
  .lintstagedrc.yml
Due: npm run lint:editorconfig && npm run lint:fs

thjs-56: + database package
  server/knexfile.js
  server/src/libs/packages/database/database.js
  server/src/libs/packages/database/database.package.js
  server/src/libs/packages/server-application/server-app.js
  server/src/libs/packages/server-application/server-application.js
  server/tests/libs/packages/app/libs/helpers/build-app/build-app.helper.js
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:server:js

thjs-59: + convict to config package
  package-lock.json
  server/package.json
  server/src/libs/packages/config/config.package.js
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:server:js

thjs-60: * replace path.join with array elements concatenation
  server/src/libs/packages/config/config.package.js
  server/src/libs/packages/controller/controller.api.js
  server/src/libs/packages/path/libs/helpers/get-joined-normalized-path/get-joined-normalized-path.helper.js
  server/src/libs/packages/path/libs/helpers/helpers.js
  server/src/libs/packages/path/libs/helpers/join-path/join-path.helper.js
  server/src/libs/packages/path/libs/helpers/normalize-trailing-slash/normalize-trailing-slash.helper.js
  server/src/libs/packages/path/path.js
  server/tests/api/0-starter/auth.api.spec.js
  server/tests/api/0-starter/comment.api.spec.js
  server/tests/api/0-starter/image.api.spec.js
  server/tests/api/0-starter/post.api.spec.js
  server/tests/api/1-dislike-post/post.api.spec.js
  server/tests/api/10-show-who-liked-comment/post-comment.api.spec.js
  server/tests/api/11-update-profile/user.api.spec.js
  server/tests/api/12-set-user-status/auth-user.api.spec.js
  server/tests/api/13-reset-set-password/password.api.spec.js
  server/tests/api/2-update-post/post.api.spec.js
  server/tests/api/3-delete-post/post.api.spec.js
  server/tests/api/4-update-comment/comment.api.spec.js
  server/tests/api/5-delete-comment/comment.api.spec.js
  server/tests/api/6-like-dislike-comment/comment.api.spec.js
  server/tests/api/7-show-hide-own-posts/post.api.spec.js
  server/tests/api/8-show-liked-by-own-posts/post.api.spec.js
  server/tests/api/9-show-who-liked-post/post.api.spec.js
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:server:js

development: * ignore trailing slash for routes
  server/src/libs/packages/server-application/server-application.js
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:server:js

thjs-51: * fix socket connection
  client/src/packages/socket/socket-api.js
  client/vite.config.js
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:client:js

thjs-51: * add VITE_SOCKET_PATH to .env.example
  client/.env.example
  client/vite.config.js
Due: npm run lint:editorconfig && npm run lint:fs

thjs-51: * change value of VITE_SOCKET_SERVER
  client/.env.example
Due: npm run lint:editorconfig && npm run lint:fs

thjs-62: * fix socket middleware
  client/src/packages/store/middlewares/notification-socket/notification-socket.middleware.js
  client/vite.config.js
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:client:js

thjs-62: * fix ci prettier
  client/src/packages/socket/socket-api.js
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:client:js

thjs-58: * code improvements
  .gitignore
  client/src/libs/components/post/post.jsx
  client/src/packages/comment/comment.js
  client/src/packages/notification/libs/enums/enums.js
  client/vite.config.js
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:client:js

thjs-61: * update readme with filling additional info
  readme.md
Due: npm run lint:editorconfig && npm run lint:fs

production: * hot fix backend tests
  server/tests/api/1-dislike-post/post.api.spec.js
  server/tests/api/10-show-who-liked-comment/post-comment.api.spec.js
  server/tests/api/11-update-profile/user.api.spec.js
  server/tests/api/12-set-user-status/auth-user.api.spec.js
  server/tests/api/13-reset-set-password/password.api.spec.js
  server/tests/api/2-update-post/post.api.spec.js
  server/tests/api/3-delete-post/post.api.spec.js
  server/tests/api/4-update-comment/comment.api.spec.js
  server/tests/api/5-delete-comment/comment.api.spec.js
  server/tests/api/6-like-dislike-comment/comment.api.spec.js
  server/tests/api/7-show-hide-own-posts/post.api.spec.js
  server/tests/api/8-show-liked-by-own-posts/post.api.spec.js
  server/tests/api/9-show-who-liked-post/post.api.spec.js
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:server:js

production: * replace toEqual with toMatchObject in backend tests
  server/tests/api/2-update-post/post.api.spec.js
  server/tests/api/4-update-comment/comment.api.spec.js
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:server:js

production: * fix id instead of postId of port object in backend tests
  server/tests/api/3-delete-post/post.api.spec.js
  server/tests/api/8-show-liked-by-own-posts/post.api.spec.js
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:server:js

production: * serialize input for stringContaining method in backend tests
  server/tests/api/7-show-hide-own-posts/post.api.spec.js
  server/tests/api/8-show-liked-by-own-posts/post.api.spec.js
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:server:js

production: * small improvements into backend tests
  server/tests/api/12-set-user-status/auth-user.api.spec.js
  server/tests/api/3-delete-post/post.api.spec.js
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:server:js

thjs-63: * small shared files requested changes
  server/src/libs/packages/database/libs/types/database-package.type.ts
  server/src/packages/auth/auth.ts
  server/src/packages/comment/comment.ts
  server/src/packages/image/image.ts
  server/src/packages/post/post.ts
  server/src/packages/user/user.ts
  shared/src/libs/enums/api-path.enum.ts
  shared/src/libs/enums/app-environment.ts
  shared/src/libs/enums/exception-message.enum.ts
  shared/src/libs/enums/exception-name.enum.ts
  shared/src/packages/user/libs/enums/user-payload-key.enum.ts
  shared/src/packages/user/libs/enums/user-validation-message.enum.ts
Due: npm run lint:editorconfig && npm run lint:fs
