Repository BinaryStudioAcademy/thread-js: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:editorconfig && npm run lint:fs, npm run lint:client:js, npm run lint:client:css, npm run lint:server:js

thjs-5: * removed repeation of root query selector on client side && replaced sl with thjs in readme && updated examples in commitlint.config.cjs
  .eslintrc.yml
  client/src/index.jsx
  commitlint.config.cjs
  dangerfile.js
  readme.md
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:client:js

thjs-29: - remove NODE_OPTIONS... in test script
  server/package.json
Due: npm run lint:editorconfig && npm run lint:fs

thjs-29: * change entry point to main.js
  server/package.json
  server/src/main.js
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:server:js

thjs-29: + add class Config
  server/knexfile.js
  server/src/libs/constants/api.constants.js
  server/src/libs/enums/app/app.js
  server/src/libs/enums/app/env.enum.js
  server/src/libs/enums/enums.js
  server/src/libs/helpers/token/create-token/create-token.helper.js
  server/src/libs/helpers/token/verify-token/verify-token.helper.js
  server/src/libs/middlewares/image/image.middleware.js
  server/src/libs/packages/config/config.js
  server/src/libs/packages/config/config.package.js
  server/src/libs/packages/server-application/server-app.js
  server/src/libs/packages/server-application/server-application.js
  server/src/packages/image/image.js
  server/src/packages/image/image.service.js
  server/tests/api/1-dislike-post/post.api.spec.js
  server/tests/api/10-show-who-liked-comment/post-comment.api.spec.js
  server/tests/api/11-update-profile/user.api.spec.js
  server/tests/api/12-set-user-status/auth-user.api.spec.js
  server/tests/api/13-reset-set-password/password.api.spec.js
  server/tests/api/2-update-post/post.api.spec.js
  server/tests/api/3-delete-post/post.api.spec.js
  server/tests/api/4-update-comment/comment.api.spec.js
  server/tests/api/5-delete-comment/comment.api.spec.js
  server/tests/api/6-like-dislike-comment/comment.api.spec.js
  server/tests/api/7-show-hide-own-posts/post.api.spec.js
  server/tests/api/8-show-liked-by-own-posts/post.api.spec.js
  server/tests/api/9-show-who-liked-post/post.api.spec.js
  server/tests/api/starter/auth.api.spec.js
  server/tests/api/starter/comment.api.spec.js
  server/tests/api/starter/image.api.spec.js
  server/tests/api/starter/post.api.spec.js
  server/tests/helpers/app/app.helper.js
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:server:js

thjs-29: * move DbTableName enum to database package
  server/src/libs/enums/enums.js
  server/src/libs/packages/database/database.js
  server/src/libs/packages/database/libs/enums/db-table-name.enum.js
  server/src/libs/packages/database/libs/enums/enums.js
  server/src/packages/comment/comment.model.js
  server/src/packages/image/image.model.js
  server/src/packages/post/post-reaction.model.js
  server/src/packages/post/post.model.js
  server/src/packages/user/user.model.js
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:server:js

thjs-29: * move ExitCode enum to server-application package
  server/src/libs/enums/enums.js
  server/src/libs/packages/server-application/libs/enums/enums.js
  server/src/libs/packages/server-application/libs/enums/exit-code.enum.js
  server/src/libs/packages/server-application/server-app.js
  server/src/libs/packages/server-application/server-application.js
  server/src/main.js
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:server:js

thjs-29: * move user validaton to user package
  server/src/libs/enums/enums.js
  server/src/packages/user/libs/validation/validation.js
  server/src/packages/user/user.js
  server/tests/api/13-reset-set-password/password.api.spec.js
  server/tests/api/starter/auth.api.spec.js
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:server:js

thjs-29: * move WHITE_ROUTES from shared
  server/src/libs/constants/constants.js
  server/src/libs/packages/server-application/libs/constants/api.constants.js
  server/src/libs/packages/server-application/libs/constants/constants.js
  server/src/libs/packages/server-application/server-app-api.js
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:server:js

thjs-29: * USER_PASSWORD_SALT_ROUNDS from shared
  server/src/libs/helpers/crypt/encrypt-sync/encrypt-sync.helper.js
  server/src/libs/helpers/crypt/encrypt/encrypt.helper.js
  server/src/libs/helpers/crypt/libs/constants/constants.js
  server/src/libs/helpers/crypt/libs/constants/user.constants.js
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:server:js

thjs-29: * fix path search in image test
  server/tests/api/11-update-profile/user.api.spec.js
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:server:js

thjs-35: * extension specifying in imports only for js and scss
  client/.eslintrc.yml
  client/package-lock.json
  client/package.json
  client/src/index.jsx
  client/src/libs/components/button/button.jsx
  client/src/libs/components/copy-buffer-input/copy-buffer-input.jsx
  client/src/libs/components/header/header.jsx
  client/src/libs/components/icon-button/icon-button.jsx
  client/src/libs/components/input/input.jsx
  client/src/libs/components/modal/modal.jsx
  client/src/libs/components/post/post.jsx
  client/src/pages/app/app.jsx
  client/src/pages/not-found/not-found.jsx
  client/src/pages/profile/profile.jsx
  client/src/pages/sign/components/components.js
  client/src/pages/sign/components/login-form/login-form.jsx
  client/src/pages/sign/components/registration-form/registration-form.jsx
  client/src/pages/sign/sign.jsx
  client/src/pages/thread/components/add-comment/add-comment.jsx
  client/src/pages/thread/components/add-post/add-post.jsx
  client/src/pages/thread/components/components.js
  client/src/pages/thread/components/expanded-post/expanded-post.jsx
  client/src/pages/thread/components/shared-post-link/shared-post-link.jsx
  client/src/pages/thread/thread.jsx
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:client:js

Revert "thjs-35: * extension specifying in imports only for js and scss"
  client/.eslintrc.yml
  client/package-lock.json
  client/package.json
  client/src/index.jsx
  client/src/libs/components/button/button.jsx
  client/src/libs/components/copy-buffer-input/copy-buffer-input.jsx
  client/src/libs/components/header/header.jsx
  client/src/libs/components/icon-button/icon-button.jsx
  client/src/libs/components/input/input.jsx
  client/src/libs/components/modal/modal.jsx
  client/src/libs/components/post/post.jsx
  client/src/pages/app/app.jsx
  client/src/pages/not-found/not-found.jsx
  client/src/pages/profile/profile.jsx
  client/src/pages/sign/components/components.js
  client/src/pages/sign/components/login-form/login-form.jsx
  client/src/pages/sign/components/registration-form/registration-form.jsx
  client/src/pages/sign/sign.jsx
  client/src/pages/thread/components/add-comment/add-comment.jsx
  client/src/pages/thread/components/add-post/add-post.jsx
  client/src/pages/thread/components/components.js
  client/src/pages/thread/components/expanded-post/expanded-post.jsx
  client/src/pages/thread/components/shared-post-link/shared-post-link.jsx
  client/src/pages/thread/thread.jsx
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:client:js

thjs-29: - remote as from import export DatabaseTableName
  server/src/libs/packages/database/database.js
  server/src/libs/packages/database/libs/enums/database-table-name.enum.js
  server/src/libs/packages/database/libs/enums/enums.js
  server/src/packages/comment/comment.model.js
  server/src/packages/image/image.model.js
  server/src/packages/post/post-reaction.model.js
  server/src/packages/post/post.model.js
  server/src/packages/user/user.model.js
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:server:js

thjs-29: * fix lint errors in tests
  server/tests/api/1-dislike-post/post.api.spec.js
  server/tests/api/10-show-who-liked-comment/post-comment.api.spec.js
  server/tests/api/11-update-profile/user.api.spec.js
  server/tests/api/12-set-user-status/auth-user.api.spec.js
  server/tests/api/13-reset-set-password/password.api.spec.js
  server/tests/api/2-update-post/post.api.spec.js
  server/tests/api/3-delete-post/post.api.spec.js
  server/tests/api/4-update-comment/comment.api.spec.js
  server/tests/api/5-delete-comment/comment.api.spec.js
  server/tests/api/6-like-dislike-comment/comment.api.spec.js
  server/tests/api/7-show-hide-own-posts/post.api.spec.js
  server/tests/api/8-show-liked-by-own-posts/post.api.spec.js
  server/tests/api/9-show-who-liked-post/post.api.spec.js
  server/tests/api/starter/auth.api.spec.js
  server/tests/api/starter/comment.api.spec.js
  server/tests/api/starter/image.api.spec.js
  server/tests/api/starter/post.api.spec.js
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:server:js

thjs-33: + update node to 18 and add npm workspaces
  .npmrc
  .nvmrc
  client/.npmrc
  client/package.json
  package-lock.json
  package.json
  readme.md
  server/.npmrc
  server/package.json
  shared/package.json
Due: npm run lint:editorconfig && npm run lint:fs

thjs-33: * update github actions
  .github/workflows/ci.yml
Due: npm run lint:editorconfig && npm run lint:fs

thjs-33: - remove unnecessary package lock files
  client/package-lock.json
  server/package-lock.json
  shared/package-lock.json
Due: npm run lint:editorconfig && npm run lint:fs

thjs-39: * update client packahes by npm upgrade
  package-lock.json
Due: npm run lint:editorconfig && npm run lint:fs

thjs-39: * update client packages
  client/package.json
  client/src/libs/components/modal/styles.module.scss
  package-lock.json
  package.json
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:client:css

thjs-40: * remove shared from dependencies
  package-lock.json
  server/package.json
Due: npm run lint:editorconfig && npm run lint:fs

thjs-40: * update packages
  package-lock.json
  server/package.json
Due: npm run lint:editorconfig && npm run lint:fs

thjs-40: * update packages by npm upgrade
  package-lock.json
Due: npm run lint:editorconfig && npm run lint:fs

thjs-40: * fix path to node_modules
  server/package.json
Due: npm run lint:editorconfig && npm run lint:fs

ng-update: update shared packages
  package-lock.json
  shared/package.json
Due: npm run lint:editorconfig && npm run lint:fs

ng-fix: fix bug with duplicated posts
  client/src/pages/thread/thread.jsx
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:client:js

thjs-41: * fix lint error
  client/src/pages/thread/thread.jsx
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:client:js

thjs-41: * update packages shared
  package-lock.json
  shared/package.json
Due: npm run lint:editorconfig && npm run lint:fs

thjs-41: * update shared packages
  package-lock.json
  shared/package.json
Due: npm run lint:editorconfig && npm run lint:fs

thjs-41: * fix bug with duplicated posts
  client/src/pages/thread/thread.jsx
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:client:js

Revert "thjs-41: * fix lint error"
  client/src/pages/thread/thread.jsx
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:client:js

Revert "thjs-41: * fix bug with duplicated posts"
  client/src/pages/thread/thread.jsx
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:client:js

thjs-49: * update root packages
  package-lock.json
  package.json
Due: npm run lint:editorconfig && npm run lint:fs

thjs-49: * fix sylelint errors
  client/src/libs/components/modal/styles.module.scss
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:client:css

thjs-50: + add github actions for commitlint and danger
  .github/workflows/ci-pr.yml
Due: npm run lint:editorconfig && npm run lint:fs

thjs-50: + add labelers to .github
  .github/labeler.yml
  .github/pr-branch-labeler.yml
Due: npm run lint:editorconfig && npm run lint:fs

thjs-50: + add extension of the imported file
  dangerfile.js
Due: npm run lint:editorconfig && npm run lint:fs

Path conditions:
  npm run lint:editorconfig && npm run lint:fs: any of: *
  npm run lint:client:js: any of: client/src/**/*.{js,jsx}
  npm run lint:client:css: any of: client/src/**/*.scss
  npm run lint:server:js: any of: server/**/*.js
