Repository BinaryStudioAcademy/thread-js: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:editorconfig && npm run lint:fs, npm run lint:client:js, npm run lint:client:css, npm run lint:server:js

task/api-testing-with-step-selection: + show and hide own posts api testing
  server/package.json
  server/src/common/enums/enums.js
  server/src/common/enums/post/post.js
  server/tests/api/7-show-hide-own-posts/post.api.spec.js
  shared/src/common/enums/enums.js
  shared/src/common/enums/post/filter-user-mode.enum.js
  shared/src/common/enums/post/post.js
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:server:js

task/api-testing-with-step-selection: + show liked by own posts api testing
  server/package.json
  server/tests/api/8-show-liked-by-own-posts/post.api.spec.js
  shared/src/common/enums/post/filter-user-mode.enum.js
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:server:js

task/api-testing-with-step-selection: + show who liked posts api testing
  server/package.json
  server/tests/api/9-show-who-liked-post/post.api.spec.js
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:server:js

task/api-testing-with-step-selection: + show who liked comments api testing
  server/package.json
  server/tests/api/10-show-who-liked-comment/post-comment.api.spec.js
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:server:js

task/api-testing-with-step-selection: + update profile api testing
  server/package.json
  server/src/common/enums/enums.js
  server/tests/api/11-update-profile/user.api.spec.js
  shared/src/common/enums/api/api-path.enum.js
  shared/src/common/enums/api/api.js
  shared/src/common/enums/api/users-api-path.enum.js
  shared/src/common/enums/enums.js
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:server:js

task/api-testing-with-step-selection: + set user status api testing
  server/package.json
  server/tests/api/12-set-user-status/auth-user.api.spec.js
  shared/src/common/enums/user/user-payload-key.enum.js
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:server:js

task/api-testing-with-step-selection: + reset and set password api testing
  server/package.json
  server/src/common/enums/enums.js
  server/tests/api/13-reset-set-password/password.api.spec.js
  shared/src/common/enums/api/api-path.enum.js
  shared/src/common/enums/api/api.js
  shared/src/common/enums/api/password-api-path.enum.js
  shared/src/common/enums/enums.js
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:server:js

task/api-testing-with-step-selection: * small fixes
  server/src/common/enums/api/api.js
  server/tests/api/2-update-post/post.api.spec.js
  server/tests/api/3-delete-post/post.api.spec.js
  server/tests/api/4-update-comment/comment.api.spec.js
  server/tests/api/5-delete-comment/comment.api.spec.js
  server/tests/api/6-like-dislike-comment/comment.api.spec.js
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:server:js

task/update-project-dependencies: * server deps
  server/package-lock.json
  server/package.json
  server/src/server.js
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:server:js

task/update-project-dependencies: * root deps
  package-lock.json
  package.json
Due: npm run lint:editorconfig && npm run lint:fs

task/update-project-dependencies: * client deps
  client/package-lock.json
  client/package.json
  client/src/components/thread/styles.module.scss
  client/src/components/thread/thread.jsx
  client/src/helpers/http/get-stringified-query/get-stringified-query.helper.js
  client/src/index.jsx
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:client:js, npm run lint:client:css

task/api-testing-step-selection: * fix path slash trailing of url
  server/tests/api/1-dislike-post/post.api.spec.js
  server/tests/api/10-show-who-liked-comment/post-comment.api.spec.js
  server/tests/api/11-update-profile/user.api.spec.js
  server/tests/api/12-set-user-status/auth-user.api.spec.js
  server/tests/api/13-reset-set-password/password.api.spec.js
  server/tests/api/2-update-post/post.api.spec.js
  server/tests/api/3-delete-post/post.api.spec.js
  server/tests/api/4-update-comment/comment.api.spec.js
  server/tests/api/5-delete-comment/comment.api.spec.js
  server/tests/api/6-like-dislike-comment/comment.api.spec.js
  server/tests/api/7-show-hide-own-posts/post.api.spec.js
  server/tests/api/8-show-liked-by-own-posts/post.api.spec.js
  server/tests/api/9-show-who-liked-post/post.api.spec.js
  shared/src/common/enums/api/comments-api-path.enum.js
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:server:js

task/update-project-readme: * readme content
  readme.md
Due: npm run lint:editorconfig && npm run lint:fs

fix/plugin-route-path-is-undefined: * api
  server/src/api/api.js
  server/src/api/auth/auth.api.js
  server/src/api/comment/comment.api.js
  server/src/api/image/image.api.js
  server/src/api/post/post.api.js
  server/src/controllers/abstract/abstract.controller.js
  server/src/controllers/auth/auth.controller.js
  server/src/controllers/comment/comment.controller.js
  server/src/controllers/controllers.js
  server/src/controllers/image/image.controller.js
  server/src/controllers/post/post.controller.js
  server/src/server.js
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:server:js

production: * codeowners
  .github/CODEOWNERS
Due: npm run lint:editorconfig && npm run lint:fs

vi-feat: moved enums to their packages folders
  client/src/libs/enums/enums.js
  client/src/packages/auth/auth-api.js
  client/src/packages/comment/comment-api.js
  client/src/packages/http/http-api.js
  client/src/packages/http/libs/enums/enums.js
  client/src/packages/http/libs/enums/http-header.enum.js
  client/src/packages/image/image-api.js
  client/src/packages/notification/libs/enums/enums.js
  client/src/packages/notification/libs/enums/notification-message.enum.js
  client/src/packages/notification/libs/enums/notification-type.enum.js
  client/src/packages/notification/notification-api.js
  client/src/packages/post/post-api.js
  client/src/packages/socket/libs/enums/enums.js
  client/src/packages/store/middlewares/notification-socket/notification-socket.middleware.js
  client/src/packages/store/profile/actions.js
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:client:js

vi-feat: store reducers placed in slices folder && reducers replaced with slices
  client/src/libs/components/notifications/notifications.jsx
  client/src/packages/store/actions.js
  client/src/packages/store/middlewares/notification-socket/notification-socket.middleware.js
  client/src/packages/store/profile/reducer.js
  client/src/packages/store/root-reducer.js
  client/src/packages/store/store.js
  client/src/packages/store/thread/reducer.js
  client/src/pages/app/app.jsx
  client/src/pages/shared-post/shared-post.jsx
  client/src/pages/sign/sign.jsx
  client/src/pages/thread/components/expanded-post/expanded-post.jsx
  client/src/pages/thread/thread.jsx
  client/src/slices/app/actions.js
  client/src/slices/app/app.js
  client/src/slices/app/common.js
  client/src/slices/notifications/actions.js
  client/src/slices/notifications/common.js
  client/src/slices/notifications/notifications.js
  client/src/slices/profile/actions.js
  client/src/slices/profile/common.js
  client/src/slices/profile/profile.js
  client/src/slices/profile/profile.slice.js
  client/src/slices/thread/actions.js
  client/src/slices/thread/common.js
  client/src/slices/thread/thread.js
  client/src/slices/thread/thread.slice.js
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:client:js

vi-feat: moved HttpError exception into http package
  client/src/libs/components/header/header.jsx
  client/src/libs/components/icon/common.js
  client/src/libs/components/image/image.jsx
  client/src/libs/components/post/post.jsx
  client/src/libs/components/private-route/private-route.jsx
  client/src/libs/components/public-route/public-route.jsx
  client/src/libs/hooks/app-form/app-form.hook.js
  client/src/packages/auth/auth-api.js
  client/src/packages/auth/auth.js
  client/src/packages/comment/comment-api.js
  client/src/packages/comment/comment.js
  client/src/packages/http/http-api.js
  client/src/packages/http/libs/exceptions/exceptions.js
  client/src/packages/image/image-api.js
  client/src/packages/image/image.js
  client/src/packages/post/post-api.js
  client/src/packages/post/post.js
  client/src/packages/validation-schemas/validation-schemas.js
  client/src/pages/app/app.jsx
  client/src/pages/not-found/not-found.jsx
  client/src/pages/profile/profile.jsx
  client/src/pages/shared-post/shared-post.jsx
  client/src/pages/sign/components/login-form/libs/common/constants.js
  client/src/pages/sign/components/login-form/login-form.jsx
  client/src/pages/sign/components/registration-form/libs/common/constants.js
  client/src/pages/sign/components/registration-form/registration-form.jsx
  client/src/pages/thread/components/add-comment/common/constants.js
  client/src/pages/thread/components/add-post/common/constants.js
  client/src/pages/thread/libs/common/constants.js
  client/src/pages/thread/thread.jsx
  client/src/slices/profile/actions.js
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:client:js

vi-feat: validation schemas and payload keys moved to corresponding folders in packages
  client/src/libs/components/header/header.jsx
  client/src/libs/enums/comment/comment.js
  client/src/libs/enums/enums.js
  client/src/libs/enums/image/image.js
  client/src/libs/enums/post/post.js
  client/src/packages/auth/libs/validation-schemas/validation-schemas.js
  client/src/packages/comment/libs/enums/enums.js
  client/src/packages/image/image-api.js
  client/src/packages/image/libs/enums/enums.js
  client/src/packages/post/libs/enums/enums.js
  client/src/packages/user/constants/constants.js
  client/src/packages/user/constants/user.constants.js
  client/src/packages/user/enums/enums.js
  client/src/pages/profile/profile.jsx
  client/src/pages/sign/components/login-form/libs/common/constants.js
  client/src/pages/sign/components/login-form/login-form.jsx
  client/src/pages/sign/components/registration-form/libs/common/constants.js
  client/src/pages/sign/components/registration-form/registration-form.jsx
  client/src/pages/thread/components/add-comment/add-comment.jsx
  client/src/pages/thread/components/add-comment/common/constants.js
  client/src/pages/thread/components/add-post/add-post.jsx
  client/src/pages/thread/components/add-post/common/constants.js
  client/src/pages/thread/components/comment/comment.jsx
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:client:js

vi-feat: added libs structure for thread page
  client/src/pages/thread/components/add-comment/add-comment.jsx
  client/src/pages/thread/components/add-comment/libs/constants/constants.js
  client/src/pages/thread/components/add-post/add-post.jsx
  client/src/pages/thread/components/add-post/libs/constants/constants.js
  client/src/pages/thread/components/expanded-post/expanded-post.jsx
  client/src/pages/thread/components/expanded-post/libs/helpers/get-sorted-comments/get-sorted-comments.helper.js
  client/src/pages/thread/components/expanded-post/libs/helpers/helpers.js
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:client:js

removed import/extension rule
  client/.eslintrc.yml
Due: npm run lint:editorconfig && npm run lint:fs

vi-fix: linter errors fixed
  client/src/packages/store/store.js
  client/src/slices/thread/actions.js
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:client:js

vi-refactor: back to destructurizing env && renamed tsconfigPaths to jsconfigPaths && vite config is a separate variable
  client/vite.config.js
Due: npm run lint:editorconfig && npm run lint:fs

ng-feat: upgrade pagination and sorting logic with useReducer
  client/src/libs/enums/enums.js
  client/src/libs/enums/thread/post-filter-action.enum.js
  client/src/libs/enums/thread/thread.js
  client/src/pages/thread/thread.jsx
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:client:js

ng-feat: move from and count to global store and move postsFilter logic to hook
  client/src/libs/enums/thread/post-filter-action.enum.js
  client/src/pages/thread/libs/common/constants.js
  client/src/pages/thread/libs/hooks/use-posts-filter/use-posts-filter.js
  client/src/pages/thread/thread.jsx
  client/src/slices/thread/thread.slice.js
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:client:js

ng-fix: remove unnecessary destructuring
  client/src/pages/thread/libs/hooks/use-posts-filter/use-posts-filter.js
  client/src/slices/thread/thread.slice.js
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:client:js

ng-fix: fix commented issues
  client/src/pages/thread/libs/hooks/use-posts-filter/use-posts-filter.js
  client/src/pages/thread/thread.jsx
  client/src/slices/thread/actions.js
  client/src/slices/thread/thread.slice.js
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:client:js

ng-feat: replace react-notifications with react-toastify
  client/package.json
  client/src/libs/components/notifications/notifications.jsx
  client/src/packages/notification/notification-api.js
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:client:js

ng-feat: change package-lock.json
  client/package-lock.json
Due: npm run lint:editorconfig && npm run lint:fs

thjs-29: * fix run tests on windows
  server/package.json
  server/tests/api/starter/image.api.spec.js
Due: npm run lint:editorconfig && npm run lint:fs, npm run lint:server:js

production: * updated readme with new flow rules
  readme.md
Due: npm run lint:editorconfig && npm run lint:fs

production: * renamed thr to thjs
  .eslintrc.yml
  project.config.cjs
  readme.md
Due: npm run lint:editorconfig && npm run lint:fs

production: * fixed lslint
  .ls-lint.yml
Due: npm run lint:editorconfig && npm run lint:fs

Path conditions:
  npm run lint:editorconfig && npm run lint:fs: any of: *
  npm run lint:client:js: any of: client/src/**/*.{js,jsx}
  npm run lint:client:css: any of: client/src/**/*.scss
  npm run lint:server:js: any of: server/**/*.js
